<html>
    <head>
        <title>Ju-hwan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ju-hwan's Blog</a></h1>
        </div>

        <div>
            <p>published: 11.12.2017, 08:59</p>
            <h2><a href="">My first post</a></h2>
            <p>첫번째 포스트 입니다.</p>
        </div>

        <div>
            <p>published: 11.12.2017, 09:00</p>
            <h2><a href="">My second post</a></h2>
            <p>두번째 포스트 입니다.</p>
        </div>
    </body>
</html>
